/* Color Palatte */ 
$darkPurple: #4B103F;
$lightPurple: #69306D; 
$lightGrey: #EDF2F4;
$superLightPurple: rgba(250, 220, 241, 0.63);
$pink: #E8C0E0; 
$white: #fff; 
$gold: #FF9F1C;

/* Font */
$serif: 'Playfair Display', serif;
$sans-serif: 'Raleway', sans-serif;